// @charset "utf-8";

$nav-height: 70px;
$body-size: 14px;
$gap: 64px;
$desktop: 900px + (2 * $gap);

@import 'bulma/bulma';
@import 'components';
@import 'elements';
@import 'form';
@import 'icons';
@import 'layout';
@import 'notifications';
@import 'typography';
@import 'expansion';


