$expansion-red: $red;
$expansion-grey: lighten($grey, 10%);
$expansion-green: $green;
$expansion-blue: hsl(207, 90%, 54%);
$expansion-orange: hsl(24, 100%, 53%);

turbo-frame[loading="lazy"] > .expansion {
  min-height: 300px;
}

.expansion {
  border: 0px none rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 0px 1px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  color: $black-ter;
  line-height: 1.45em;
  font-size: 14px;
  display: block;

  &.is-expanded {
    margin: 12px 0;
    border: 1px solid rgba(0, 0, 0, .34);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, .2), 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12);

    > .expansion-header {
      padding: 24px 16px;
      box-shadow: none;

      .expansion-columns .expansion-column {
        &:first-child {
          font-size: 1.6rem;
          font-weight: 500;
          opacity: 1;
        }

        &:not(:first-child) {
          opacity: 0;
          display: none;

          &.expansion-column-always-visible {
            font-size: 1.1rem;
            font-weight: 500;
            opacity: 1;
            display: block;
          }
        }
      }

      .expansion-expand {
        .expansion-toggle-container {
          display: inline-block;

          .expansion-toggle-expand {
            display: none;
          }
        }

        .show-asterisk {
          display: none;
        }
      }
    }

    > .expansion-content {
      display: inline-block;
    }
  }

  &:not(.is-expanded) {
    > .expansion-header {
      .expansion-expand {
        .expansion-toggle-container {
          display: inline-flex;

          .expansion-toggle-collapse {
            display: none;
          }
        }

        .expansion-menu {
          display: none;
        }
      }
    }

    &.is-red {
      > .expansion-header:hover {
        background-color: lighten($expansion-red, 5%);
      }
    }

    &.is-grey {
      > .expansion-header:hover {
        background-color: lighten($expansion-grey, 5%);
      }
    }

    &.is-green {
      > .expansion-header:hover {
        background-color: lighten($expansion-green, 5%);
      }
    }

    &.is-blue {
      > .expansion-header:hover {
        background-color: lighten($expansion-blue, 5%);
      }
    }

    &.is-orange {
      > .expansion-header:hover {
        background-color: lighten($expansion-orange, 5%);
      }
    }
  }

  > .expansion-header {
    min-height: 36px;
    color: $black-ter;
    margin-top: 1px;
    box-shadow: 0 0 0 1px $grey-light;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    padding: 0 16px;
    border: none;
    outline: none;
    text-align: left;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .expansion-check {
      .expansion-check--text-only {
        padding-top: 6px;
      }

      height: 36px;
      width: 40px;
    }

    .expansion-columns {
      margin-bottom: 0;
      width: 100%;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      align-items: center;

      .expansion-column {
        padding-bottom: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-height: 24px;
        font-size: 14px;
        font-weight: 400;
        -ms-flex: 1 1 0.000000001px;
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-basis: 0.000000001px;
        flex-basis: 0.000000001px;

        $maxFlex: 5;
        $i: 2;
        @while $i <= $maxFlex {
          &.wider-flex-#{$i} {
            flex-grow: $i;
          }
          &.smaller-flex-#{$i} {
            flex-grow: calc(1 / $i);
          }
          $i: $i + 1;
        }

        &.expand-on-hover:hover {
          overflow: visible;
        }
      }
    }

    .expansion-expand {
      position: absolute;
      right: 4px;

      .show-asterisk {
        &:before {
          content: '*';
        }

        font-size: 14px;
        display: inline-block;
      }

      .expansion-menu {
        display: inline-block;
        padding-right: 16px;
        float: right;
      }

      .expansion-toggle-container {
        height: 36px;
        width: 36px;
        padding: 6px;
        float: right;

        .expansion-toggle {
          display: -ms-inline-flexbox;
          display: -webkit-inline-flex;
          display: inline-flex;
          padding: 0;
          height: 100%;
          width: 100%;
        }
      }

      .expansion-button-container {
        display: inline-flex;
        height: 36px;
        width: 36px;
        padding: 6px;
        float: right;

        .expansion-button {
          display: -ms-inline-flexbox;
          display: -webkit-inline-flex;
          display: inline-flex;
          padding: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  > .expansion-content {
    width: 100%;
    display: none;

    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding: 0 16px;

    > .expansion-footer {
      padding: 16px 0;

      > .expansion-footer-button-container {
        text-align: right;
      }
    }
  }

  &.is-red {
    > .expansion-header {
      background-color: $expansion-red;
      color: #ffffff;
      box-shadow: 0 0 0 1px #A64345;

      .expansion-column,
      .expansion-toggle {
        color: #ffffff;
      }
    }
  }

  &.is-grey {
    > .expansion-header {
      background-color: $expansion-grey;
      box-shadow: 0 0 0 1px #939393;

      .expansion-column,
      .expansion-toggle {
        color: #ffffff;
      }
    }
  }

  &.is-green {
    > .expansion-header {
      background-color: $expansion-green;
      color: #ffffff;
      box-shadow: 0 0 0 1px #347237;

      .expansion-column,
      .expansion-toggle {
        color: #ffffff;
      }
    }
  }

  &.is-blue {
    > .expansion-header {
      background-color: $expansion-blue;
      color: #ffffff;
      box-shadow: 0 0 0 1px #1C649E;

      .expansion-column,
      .expansion-toggle {
        color: #ffffff;
      }
    }
  }

  &.is-orange {
    > .expansion-header {
      background-color: $expansion-orange;
      color: #ffffff;
      box-shadow: 0 0 0 1px #A66319;

      .expansion-column,
      .expansion-toggle {
        color: #ffffff;
      }
    }
  }

  &:not(.is-normal) > .expansion-header {
    .expansion-menu button:not(.expansion-menu--no-color) {
      color: white !important;
      border-color: white !important;
    }

    > .expansion-columns > .expansion-column a {
      color: rgba(135, 0, 51, 50%);
    }

    .expansion-toggle-container > .expansion-toggle {
      background-color: transparent;;
    }
  }
}
