.navbar:hover {
  z-index: 2000;
}

nav.navbar.is-fixed-top {
  padding: 0 3.2rem;
  color: #FFF;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
}

a.navbar-item, a.navbar-link, button.navbar-item {
  font-weight: 700;
  text-transform: uppercase;
}

button.navbar-item {
  background-color: transparent;
  border: none;
}

.navbar-dropdown {
  box-shadow: none;
  background-color: hsl(0deg, 0%, 98%);

  a.navbar-item {
    font-weight: 500;
    text-transform: none;
  }
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: transparent;
}

main.container {
  padding-top: $nav-height;

  section.section h1.title {
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 48px;
  }
}

section.section {
  padding: 1.5rem;

  &.is-condensed {
    padding: 0 1.5rem;
  }
}

section.page-title {
  padding-top: 1.75rem;

  h1 {
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

section.section.has-breadcrumbs {
  padding: 0 1.5rem 1.5rem;
}

section.section h1.title {
  font-weight: 900;
  text-transform: uppercase;
}

footer.footer {
  background-color: #3C3744;
  color: #FFF;
}

hr {
  background-color: hsl(0deg, 0%, 94%);
}

.modal-card-foot.reverse {
  flex-direction: row-reverse;

  .button:first-child {
    margin-right: unset;
  }

  .button:not(:first-child) {
    margin-right: 0.5rem;
  }
}

.pane-item {
  margin-bottom: 0.656rem;

  .pane-item-label {
    color: transparentize($black, 0.5%);
    font-size: .9rem;
  }

  .pane-item-content {
    color: $black-ter;
    font-size: 1.1rem;
  }
}

.dash-line {
  line-height: 2px;
  margin: 4px 0 4px 0;
  border-bottom: solid 2px;
  border-color: transparentize($black, 0.5%);
}


.zero-padding {
  padding: 0;
}


@media screen and (min-width: $navbar-breakpoint) {
  .small-testing-tag {
    display: none;
  }
  .testing-tag {
    display: inline-block;
  }
}

@media screen and (max-width: $navbar-breakpoint) {
  .small-testing-tag {
    display: inline-block;
  }
  .testing-tag {
    display: none;
  }
}


.testing-tag, .small-testing-tag {
  background: #fff;
  padding: 12px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.08929em;
  border-radius: 2px;
  cursor: default;
  box-shadow: 0 0 2px 0 $black;

  &:hover {
    animation: test-color-animate 750ms infinite;
  }
}

nav.testing-tag-always {
  animation: test-background-animate 5s infinite;
}

// animation definitions
@keyframes test-color-animate {
  0% {
    color: $black;
  }
  12% {
    color: $red;
  }
  24% {
    color: $orange;
  }
  36% {
    color: $yellow;
  }
  48% {
    color: $green;
  }
  60% {
    color: $blue;
  }
  84% {
    color: $purple;
  }
  96% {
    color: $black;
  }
}

@keyframes test-background-animate {
  0% {
    background-color: $black;
  }
  12% {
    background-color: $red;
  }
  24% {
    background-color: $orange;
  }
  36% {
    background-color: $yellow;
  }
  48% {
    background-color: $green;
  }
  60% {
    background-color: $blue;
  }
  84% {
    background-color: $purple;
  }
  96% {
    background-color: $black;
  }
}

.dynamic-header.is-hiding {
  display: none;
}

.dynamic-header {
  display: flex;
}

.will-hide {
  display: flex;

  &.hide-up {
    display: none;
  }
}

@media screen and (max-width: $navbar-breakpoint) {
  .dynamic-header.is-hidden-on-mobile {
    display: none;
  }

  .will-hide.hide-up {
    display: flex;
  }
}

.navbar-logo.scale-brand {
  transform: scale(0.8);
}

.navbar.is-scrolling {
  padding: 4px 0;
}

.navbar-item.page-title {
  h1 {
    font-size: 1.25rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
